.studentInfo{
    display: flex;
    align-items: center;
    background-color: dodgerblue;
    color: white;
    justify-content: space-around;
    font-family: sans-serif;
    text-align: start;
    font-style: italic;
    height: 50vh; 
    margin-bottom: 50px;
    
    
}
.dot li {
    color: white;
}

.studentdata{
    display: flex;
    background-color: dodgerblue;
    color: white;
    text-align: start;
    margin-bottom: 32px;
    justify-content: space-around;

}

.Studentnew{
    display: flex;
    background-color: dodgerblue;
    color:aliceblue;
    text-align: start;
    margin-bottom: 32px;
    justify-content:space-around;
    height: 50px;
}


.Studentnames {
    display: flex;
    align-items: center;
    text-align:start ;
    background-color: dodgerblue;
    color: white;
    justify-content: center;
    font-family: sans-serif;
    font-style: italic;
    height: 10vh; 

  
    
}
.head{
    display: flex;
    font-style: bold;
    background-color: yellowgreen;
    justify-content: center;
    align-items: center;
    border: 2px solid yellowgreen;


}
.img1{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
   
    margin-top:20px;
    margin-bottom: 20px;
    border: 5px solid black;
    background-color: antiquewhite;
    flex-basis: 10%;

}
.list{
    border: 2px solid black;
    background-color: aliceblue;
    margin-bottom: 0px;
}
.list1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.condition{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
   background-color: aqua;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.h1 {
    display: block;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black ;
    background-color: aqua;
    margin: 0px -170px 150px 0px;
    
    
}

.h1:hover{
  background-color: antiquewhite;
  justify-content: space-between;
  transform: scale(0.6);
  transition-duration: 0.5s;
 
}
.App1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.btn{
    border: 2px groove black;
    background-color: aqua;
    color: blue;
}
.btn:hover{
    background-color: yellow;
}

.inc{
    
    justify-content: center;
    align-items: center;
   border: 2px groove black;
    width: 20%;
    height: 200px;
    background-color: aqua;
}
.inc:hover{
    background-color: skyblue;
}
.btn1:hover{
    background-color: yellow;
    
}
.btn1{
    display: flex;
    margin-left: 50px;
}
.form{
    border: 2px groove black;
    padding: 10px;
    background-color: aquamarine;
}
.sign{
    display: flex;
    gap: 5px;
}
.sh:hover{
    background-color: blanchedalmond;
}
.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px groove black;
    padding: 10px;
    background-color: black;
    color: white;
    width: 30%;
    margin-left: 30%;
    border-radius: 20px;
}
.log:hover{
    background-color: grey;
}
.Login-form{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 50px 40px;
    width: 35%;
    height: 20%;
    margin-left: 30%;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
      0 1px 1px rgba(128, 128, 128, 0.155),
      0 2.1px 2.1px rgba(128, 128, 128, 0.195),
      0 4.4px 4.4px rgba(128, 128, 128, 0.241),
      0 12px 12px rgba(128, 128, 128, 0.35);
}
.btn{
    padding: 8px 20px;
  border-radius: 0;
  overflow: hidden;
  
}
.btn ::before{

    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      var(--primary-color),
      transparent
    );
    transform: translateX(-100%);
    transition: 0.6s;
    transform: translateX(100%);
  }
  
.btn:hover{
    background: transparent;
    box-shadow: 0 0 20px 10px hsla(204, 70%, 53%, 0.5);
}
.btn::before {
    transform: translateX(100%);
  }

  .btn {
    width: auto;
    margin: 18px 0 9px 0;
    cursor: pointer;
  }

  .main{
    display: flex;
    
    margin-top: 50px;  
    background-color: lightgoldenrodyellow; 
    flex-basis: 100%;
    height: 1000px;
    justify-content: space-evenly;
  }
 
  .img{
    display: flex;
    border: 10px solid lightgoldenrodyellow;
    background-color: lightgoldenrodyellow;
    height: 300px;
    width: 500px;
    flex-basis: 30%;
    justify-content: center;
    margin-top: 185px;
    border-radius: 10px;
    margin-right: 140px;
    
  }
  .H{
    margin-left: 50px;
    margin-bottom: 200px;
    justify-content: end;
    align-self: flex-end;
    align-items: flex-end;

  }
.About{
    margin-top: 60px;
    border-top: 2px solid black;
}
.h7{
    margin-left: 10px;
}
.cont{
    margin-top: 30px;
    margin-left: 30px;
    background-color: black;
    color: aliceblue;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    padding: 15px;
}
.cont:hover{
    background-color: gray;
}
.headh{
    display: flex;
    font-style: bold;
    background-color: gray;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;

}

.home{
    background-image: url("../../images/home.jpg");
    height: 80vh;
    background-Repeat: no-repeat;
    background-size: cover;
    background-color: green;
    background-Position: center;
    display: flex;
    text-align: center;  
    justify-content:center;
    align-items:center;
    padding-top: 160px;
   padding-right: 100px;
   
}
.cont1{
    background-color: black;
    color: aliceblue;
    border-radius: 50px;
    height: 40px;
    width: 90px;
    cursor: pointer;
    padding: 10px;
   
    text-align: center;  
}